html,body{
  width:100%;
  height:100%;
}

.App {
  text-align: center;
  background: #dcdcdc;
  height: 100%;
  width: 100%;
}


.App-header {
  background-color: #4286f4;
  min-height: 10vh;
  
}

.App-link {
  color: #61dafb;
}

